process {
  withName: 'bam_to_fastq' {
    cpus = 12
    memory = 120.GB
    time = 12.h
  }
  withName: 'make_dip_asm' {
    cpus = 2
    memory = 10.GB
    time = 3.h
  }
  withName: 'map_asm' {
    cpus = 32
    memory = 240.GB
    time = 24.h
  }
  withName: 'map_dip_asms' {
    cpus = 32
    memory = 240.GB
    time = 24.h
  }
  withName: 'deepvariant' {
    cpus = 32
    memory = 240.GB
    time = 24.h
  }
  withName: 'filter_alt_reads' {
    cpus = 12
    memory = 120.GB
    time = 12.h
  }
  withName: 'secphase' {
    cpus = 12
    memory = 120.GB
    time = 12.h
  }
  withName: 'run_flagger' {
    cpus = 32
    memory = 240.GB
    time = 12.h
  }
}
